%h2 Quests
%table{:class => "table table-hover"}
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - @quests.each do |quest|
      %tr
        %td= quest.name
        %td= quest.description

= link_to 'New quest', new_quest_path
