=javascript_include_tag "quests"
=render "actionable_top"
#edit-quest-modal.modal.fade
  .modal-dialog
    .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Edit Quest
      .modal-body
        = render 'form'
        .delete
          = button_to "Delete", {:action => 'destroy_softly', :id => @actionable.id}, :class => "btn btn-warning", data: { :confirm => "Are you sure?"}, "data-toggle" => "tooltip", title: "Delete this quest only"
          = button_to "Delete All", {:action => 'destroy'}, :class => "btn btn-danger", :method => :delete, data: { :confirm => "This will irrevocably destroy all data tied to this quest and it's children! Continue?"}, "data-toggle" => "tooltip", title: "Delete this quest and all descendents"
=render 'actionable_bottom'
