%h3.page-title
  Account history
%p.light
  All events created by your account are listed here
%hr
.profile_history
  = render @events
%hr
  ~#TODO
  ~#Taken from gitlab, in future we can use this to define our theme
= paginate @events, theme: ""

