%table
  %tr
    %th
      Subject
    %th
      Date Sent
    %th
      Delete
  - @conversations.sort_by { | conversation | conversation.updated_at  }.reverse.each do |t|
    - if t.participants != @user
      %tr
        %td
          = link_to t.subject, t
        %td
          = t.updated_at.strftime("%a, %m/%e/%Y %I:%M %p")
        %td
          = button_to "Trash It!", {:controller => "conversations", :action => "untrash", :id => t.id},  :title => "Move to Inbox", :method=>'post'

