%h2 Pomodoros
#treeView
:javascript
  $(document).ready(function(){
          $("#treeView").jstree({
              core : { "animation" : 100 },
              <!--themes : { "theme" : "classic", "icons" : true, "dots": false },-->
              "json_data": {
                  "ajax" : {
                      "url" : "/pomodoros/getTree.json",
                      "data" : function(m) {
                          return { id: m.attr ? m.attr("id") : 0 };
                      }
                  }
              },
              "types" : {
                  "valid_children" : [ "pomodoro" ],
                  "types" : {
                      "valid_children" : [ "pomodoro" ],
                      "pomodoro" : {
                          "icon" : {
                              "image" : "/assets/Tomato-icon-min.png"
                          },
                          "valid_children" : [ "note" ],
                        },
                      "note" : {
                          "icon" : {
                              "image" : "/assets/note.png"
                          },
                      },
                      "default" : {
                          "valid_children" : [ "default" ]
                      }
                  }
              }  ,

              plugins: ["themes", "json_data", "dnd", "ui", "types" ],
          }).bind("select_node.jstree", function (e, data)
              {
                  window.location= data.rslt.obj.attr("href");
              }
          );
      });
= link_to 'New Pomodoro', new_pomodoro_path