%h2 Groups
%br
%br
.panel.panel-info
  .panel-heading Groups (Member)
  .panel-body
    -@current_groups=@member_groups
    =render 'roster'
.panel.panel-success
  .panel-heading Groups (Admin)
  .panel-body
    -@current_groups=@admin_groups
    =render 'roster'

%br
%br
= link_to 'New Group', new_group_path, :class=> 'btn btn-primary'
