%h2 Projects

%table{:class => "table table-hover"}
  %thead
    %tr
      %th Project Name
      %th Project Owner
      %th Import
      %th Update

  %tbody
    - @projects.each do |t|
      %tr
        %td
          =link_to(t.project_name, t.url )
        %td
          =t.github_user

        - if t.imported
          %td
            = link_to "Delete" , { :action => 'github_project_del',  :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }


        - else
          %td
            = link_to "Import",  { :action => 'github_project_import', :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }

        %td
          = link_to "Manual Update" , { :action => 'github_update',  :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }
