%ul#myTab.nav.nav-tabs
  %li
    %a{ id: "profile", href: "index"} Profile
  %li
    %a{ id: "github", href: "show"} Github
  %li
    %a{"data-toggle" => "tab", href: "#messages"} Social
  %li.active
    %a{ id: "settings", href: "settings"} Settings
.tab-content
  .row
    .col-md-6
      %br
      .panel.panel-info
        .panel-heading General Settings
        .panel-body
          %h4 Email
          = @user.email
          %h4 Timezone
          = @config.timezone_name
          %p
          = link_to 'Edit Account', edit_user_registration_path, :class => 'btn btn-primary pull-right'
    .col-md-6
      %br
      .panel.panel-success
        .panel-heading Timer Settings
        .panel-body
          %h4 Encounter Duration
          =@config.encounter_duration
          %h4 Short Break Duration
          =@config.short_break_duration
          %h4 Extended Break Duration
          =@config.extended_break_duration
          %h4 Encounter Extend Duration
          =@config.encounter_extend_duration

