=javascript_include_tag "welcome"
#help
  %h2 World View
  %span.glyphicon.glyphicon-question-sign.help-info
    Click the circles to zoom in/out
  %br
  %br
  %ul.legend
    %li
      %span.campaign
      Campaign
    %li
      %span.deadline_quest
      Quest within deadline
    %li
      %span.importance_quest
      Quest with importance

#tower-defense{ :style => 'border: 1px solid #ccc; margin-top: 35px;'}

:css
  .node {
    cursor: pointer;
    stroke: #000;
    stroke-width: 0.5px;
  }

  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node--leaf {
    fill: white;
  }

  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }

  /*.label,*/
  /*.node--root,*/
  /*.node--leaf {*/
  /*}*/

  /* basic positioning */
  .legend { list-style: none; }
  .legend li { float: left; margin-right: 10px; }
  .legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px; }
  /* your colors */
  .legend .deadline_quest { background-color: #29AB87; }
  .legend .importance_quest { background-color: #0A6F75; }
  .legend .campaign { background-color: #AF4D43; }
