#help
  %h2 World View
  %span.glyphicon.glyphicon-question-sign.help-info
    Click the circles to zoom in/out
#tower-defense{ :style => 'border: 1px solid #ccc; margin-top: 35px;'}

:css
  .node {
    cursor: pointer;
    stroke: #000;
    stroke-width: 0.5px;
  }

  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node--leaf {
    fill: white;
  }

  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }

  /*.label,*/
  /*.node--root,*/
  /*.node--leaf {*/
  /*}*/

:javascript

  $(document).ready(function(){
    towerDefense();
  });

