
.record-panel
.record-panel-left.pull-left
  %ul.record-type-list
    %li
      %a#note.record-type-item.record-type-selected{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Note
    %li
      %a#link.record-type-item{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Link
    %li
      %a#image.record-type-item{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Image
.record-panel-right.pull-right
  .record-panel-right-content

    %div
      %label.control-label Quest:
      %div
        .col-md-6{:style => 'padding-left:0px'}
          %input#record_quests.form-control{ :value => @record.quest.name}
        .col-md-6
          #record_quest_status
            %h3{style: "margin-top:0px;margin-bottom:0px"}>
              %span.label{ :class => "label-" + @record.quest.status.gsub(/\s+/, "") }
                = @record.quest.status
    %br
    %br

    =render 'note'

    =render 'link'

    =render 'image'

:css
  ul.ui-autocomplete {
      z-index: 1100;
  }
= javascript_include_tag "record"


