%h2 Time Line
#treeView

= link_to 'New encounter', new_encounter_path
%script{src: "http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js", type: "text/javascript"}
:javascript
  $(document).ready(function(){
          $("#treeView").jstree({
              core : { "animation" : 100 },

              themes : { "theme" : "apple", "icons" : true, "dots": true },
              "json_data": {
                  "ajax" : {
                      "url" : "/encounters/get_user_timeline",
                      "data" : function(m) {
                          return { id: m.attr ? m.attr("id") : 0 };
                      }
                  }
              },
              "types" : {
                  "valid_children" : [ "encounter" ],
                  "types" : {
                      "encounter" : {
                        "icon" : {
                            "image" : "/assets/encounter.png"
                        },
                      },
                      "round" : {
                        "icon" : {
                            "image" : "/assets/round.png"
                        },
                      },
                      "link" : {
                        "icon" : {
                            "image" : "/assets/link.png"
                        },
                      },
                      "note" : {
                          "icon" : {
                              "image" : "/assets/note.png"
                          },
                      },
                      "campaign" : {
                        "icon" : {
                            "image" : "/assets/campaign.png"
                        },
                      },
                      "quest" : {
                          "icon" : {
                              "image" : "/assets/quest.png"
                          },
                      },
                      "image" : {
                          "icon" : {
                              "image" : "/assets/image.png"
                          },
                      },
                      "default" : {
                          "valid_children" : [ "default" ]
                      }
                  }
              }  ,

              plugins: ["themes", "json_data", "dnd", "ui", "types" ],
          }).bind("select_node.jstree", function (e, data)
              {
                  window.location= data.rslt.obj.attr("href");
              }
          );
      });

