%h2 Projects Listing
= link_to 'Back', user_index_path, :class => "btn"


%table{:class => "table table-hover" , :id=>'myTab.nav.nav-tabs'}
  %thead
    %tr
      %th Project Name
      %th Project Owner
      %th Import
      %th Update


  %tbody
    - @projects.each do |t|
      %tr
        %td
          =link_to(t.project_name, t.url )
        %td
          =t.github_user

        - if t.imported
          %td
            = link_to "Delete" , { controller: 'user', :action => 'github_project_del',  :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }


        - else
          %td
            = link_to "Import",  { controller: 'user', :action => 'github_project_import', :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }

        %td
          = link_to "Manual Update" , { controller: 'user', :action => 'github_update',  :github_user=>t.github_user, :repo_name=>t.project_name }, { :class => "btn btn-primary" }
