=render "actionable_top"
#edit-campaign-modal.modal.fade
  .modal-dialog
    .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Edit Campaign
      .modal-body
        = render 'form'
        = button_to "Delete!", {:action => 'destroy'}, :method => :delete, :class => "btn btn-warning", :confirm => "Are you sure?", "data-toggle" => "tooltip", title: "Delete this campaign"
  %div#title-div{ :data => { :campaign => @campaign.name, :user => trunc(@user.username, 15)}}
=render "actionable_bottom"

:javascript
  $(document).ready(function () {
    campaign_show();
  });
