.header-table{
    width:100%;
    margin-bottom:5px;
    margin-top:5px;
}
.header-table th,.header-table td{
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
}
.dropdown-navbar {
    padding: 0px;
    width: 240px;
    -webkit-box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    box-shadow: rgba(30, 30, 100, 0.247059) 0px 2px 4px;
    border-color: rgb(188, 212, 229);
}
.dropdown-navbar > li > a {
    border-bottom-color: rgb(228, 236, 243);
}
.dropdown-navbar > li {
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
}
.dropdown-navbar > li > a {
    padding: 10px 2px;
    margin: 0px;
    border-bottom: 1px solid;
    border-color: rgb(236, 242, 247);
    font-size: 12px;
    line-height: 16px;
    color: rgb(85, 85, 85);
}
.dropdown-navbar > li.dropdown-header {
    text-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid;
}
.dropdown-menu {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    border-radius: 0px;
}
.progress.progress-mini {
    height: 9px;
}
.progress {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgb(218, 218, 218);
    height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.progress span {
    line-height: 0px;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
}
.dropdown-navbar > li.dropdown-header {
    color: rgb(128, 144, 160);
    border-bottom-color: rgb(188, 212, 229);
    background-color: rgb(236, 242, 247);
}

.qtd-col {
    padding-right: 5px;
    padding-left: 5px;
}
.badge-important{background-color:#b94a48;}

.record-modal-dialog {
    width: 800px;
}

.record-panel {
    display: table;
}

.record-panel-left {
    position: relative;
    display: table-cell;
    padding-bottom: 30px;
    min-width: 178px;
}

.record-panel-right {
    border-left: 1px solid #e2e2e2;
    width: 600px;
}

.record-panel-right-content {
    margin: 10px 10px 10px 10px;
}

.record-type-list {
    list-style-type: none;
    padding-left: 0px;
}

.record-type-list .record-type-item.record-type-selected {
    background: #428bca;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
}

.record-type-list .record-type-item {
    display: block;
    position: relative;
    border: 0;
    height: 24px;
    background: 0;
    color: #555;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle
}

.record-type-item-align {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    padding: 0 24px;
}

.record-modal-body {
    padding: 0px;
}

.record-form-hidden {
    display:none
}

.priority-container {
    position: relative
}

.priority-navmenu-offcanvas-content {
    min-height: 200px;
    overflow: hidden;
}
.priority-content {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    box-shadow: none;
}

.priority-navmenu-offcanvas-content:after {
    display: none;
}
.priority-content:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.priority-navmenu-offcanvas-content .navbar-fixed-top {
    position: absolute;
    z-index: 1;
}
.priority-navmenu-offcanvas-content .navbar-toggle {
    float: left;
    margin-left: 15px;
    display: block;
}
.priority-navmenu-offcanvas-content .navmenu-fixed-left {
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
}


.priority-navmenu-fixed-content .navmenu-fixed-left, .priority-navmenu-offcanvas-content .navmenu-fixed-left, .priority-navmenu-offcanvas-content .navbar-fixed-top {
    position: absolute;
    z-index: 1;
}

.priority-navmenu-offcanvas-content p {
    color: #bbb;
}

.priority-navmenu-offcanvas-content > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 70px 15px 15px 15px;
}

.priority-navmenu-offcanvas-content .navmenu-default .navmenu-nav > .active > a {
    background: #428bca;
    color: #fff;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
}

.panel-heading a {
    color: #fff;
}

.panel-deadline a {
    color: #000;
}

.fill{
    height:100%;
    min-height:100%;
}

html,body {height:100%;}
.special,.special .jumbotron {
    min-height:100%;
    /*height: auto !important;*/
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-centered {
    text-align: center;
}
.devise-header-top{
    margin-top: 100px;
    height: 100px;
}
.devise-content {
    background-color: #f7f7f7;
    padding: 20px 25px 20px;
    margin: 30 auto 30px;
    width: 300px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #BFBFBF;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}
.devise-alert {
    margin-top: 30px;
    width: 500px;
}
.devise-form-header {
    font-family:"Times New Roman",Times,Serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    color: #555;
}

.panel {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #555;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #555;
}

.hidden {
    display: none;
}

/**************** Button **************************/

.btn-timer-setting {
    background-color: hsl(0, 0%, 51%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed", endColorstr="#828282");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ededed), to(#828282));
    background-image: -moz-linear-gradient(top, #ededed, #828282);
    background-image: -ms-linear-gradient(top, #ededed, #828282);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #828282));
    background-image: -webkit-linear-gradient(top, #ededed, #828282);
    background-image: -o-linear-gradient(top, #ededed, #828282);
    background-image: linear-gradient(#ededed, #828282);
    border-color: #828282 #828282 hsl(0, 0%, 40.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}

/**************** Campaign/Quest Status ***********/
.label-Open {
    background-color: #428bca;
}
.label-Closed {
    background-color: #999;
}
.label-InProgress {
    background-color: #5cb85c;
}
.label-Note {
    background-color: #5bc0de;
}
.label-Link {
    background-color: #5bc0de;
}
.label-Image {
    background-color: #5bc0de;
}
.label-Commit {
    background-color: #5bc0de;
}
.label-Quest {
    background-color: #428bca;
}
.label-Campaign {
    background-color: #5cb85c;
}

/************** Priority view ***************/
.ul-dual-column {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.ul-dual-column li {
    display: inline-block;
    width: 45%;
    margin: 0;
    padding: 10px;
    vertical-align: top; /* In case multi-word categories form two lines */
}

/************** Loading screen **************/
#fadingBarsG{
    position:relative;
    width:240px;
    height:29px}

.fadingBarsG{
    position:absolute;
    top:0;
    background-color:#428ACA;
    width:29px;
    height:29px;
    -moz-animation-name:bounce_fadingBarsG;
    -moz-animation-duration:0.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -webkit-animation-name:bounce_fadingBarsG;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -ms-animation-name:bounce_fadingBarsG;
    -ms-animation-duration:0.7s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -o-animation-name:bounce_fadingBarsG;
    -o-animation-duration:0.7s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    animation-name:bounce_fadingBarsG;
    animation-duration:0.7s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
}

#fadingBarsG_1{
    left:0;
    -moz-animation-delay:0.28s;
    -webkit-animation-delay:0.28s;
    -ms-animation-delay:0.28s;
    -o-animation-delay:0.28s;
    animation-delay:0.28s;
}

#fadingBarsG_2{
    left:30px;
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#fadingBarsG_3{
    left:60px;
    -moz-animation-delay:0.42s;
    -webkit-animation-delay:0.42s;
    -ms-animation-delay:0.42s;
    -o-animation-delay:0.42s;
    animation-delay:0.42s;
}

#fadingBarsG_4{
    left:90px;
    -moz-animation-delay:0.49s;
    -webkit-animation-delay:0.49s;
    -ms-animation-delay:0.49s;
    -o-animation-delay:0.49s;
    animation-delay:0.49s;
}

#fadingBarsG_5{
    left:120px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}

#fadingBarsG_6{
    left:150px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#fadingBarsG_7{
    left:180px;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -o-animation-delay:0.7s;
    animation-delay:0.7s;
}

#fadingBarsG_8{
    left:210px;
    -moz-animation-delay:0.77s;
    -webkit-animation-delay:0.77s;
    -ms-animation-delay:0.77s;
    -o-animation-delay:0.77s;
    animation-delay:0.77s;
}

@-moz-keyframes bounce_fadingBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:#428ACA;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-webkit-keyframes bounce_fadingBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:#428ACA;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-ms-keyframes bounce_fadingBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:#428ACA;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-o-keyframes bounce_fadingBarsG{
    0%{
        -o-transform:scale(1);
        background-color:#428ACA;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@keyframes bounce_fadingBarsG{
    0%{
        transform:scale(1);
        background-color:#428ACA;
    }

    100%{
        transform:scale(.3);
        background-color:#FFFFFF;
    }

}
