.g {
    fill: none;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    cursor: pointer;
}

.node text {
    font: 12px sans-serif;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
     fill: none;
     stroke: LimeGreen;
     stroke-width: 2px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}