%html{lang: "en"}
  %head
    = stylesheet_link_tag 'devise', :media => 'all'
    = javascript_include_tag 'devise'
  %body
    .wrapper
      .devise-header-top.centered
        %img.centered.img-responsive{src: "/assets/Quest-Till-Done.png"}/
      .devise-content.centered
        = render 'user/user_widget'
        = yield